<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="courses" name="courses" action="" method="POST">
        <h1>Consultar profesores por clase</h1>
        <div>
            <label for="name">Nombre:</label>
            <select id="name" name="name">
                <option value="">Selecciona</option>
                <option value="Name1">Name 1</option>
                <option value="Name2">Name 1</option>
                <option value="Name3">Name 1</option>
            </select>
            <label for="last">Apellido:</label>
            <select id="last" name="last">
                <option value="" default>Selecciona</option>
                <option value="LastName1">LastName 1</option>
                <option value="LastName2">LastName 2</option>
                <option value="LastName3">LastName 3</option>
            </select>
            <label id="course" for="course">Curso:</label>
            <select name="course">
                <option value="">Selecciona</option>
                <option value="Course1">Course 1</option>
                <option value="Course2">Course 2</option>
                <option value="Course3">Course 3</option>
            </select>
            <button type="submit">Consultar</button>
        </div>
    </form>

    <script src="../JS/ejercicio4.js"></script>
</body>
</html>