\<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="elegir_profesor">
            <label for="Profesor">Profesor(a) </label>
            <select name="profesor" id="profesor">
                <option value="Tatiana Cabrera">Tatiana Cabrera</option>
                <option value="Andres Barrera">Andrés Barrera</option>
                <option value="Pedro Wightman">Pedro Wightman</option>
                <option value="Edgar Andrade">Edgar Andrade</option>
                <option value="Daniel Bojacá">Daniel Bojacá</option>
                <option value="Norma Sarmiento">Norma Sarmiento</option>
            </select>
        </div>
        <div class="elegir_materia">
            <label for="Materia">Materia</label>
            <select name="materia" id="materia">
                <option value="Teoria de la Computacion">Teoría de la Computación</option>
                <option value="Capstone">Capstone Project</option>
                <option value="Software">Diseño y Arquitectura de Software</option>
                <option value="Desarrollo Web">Desarrollo Web</option>
                <option value="Logica 2">Lógica para Ciencias de la Computación</option>
                <option value="Calculo 2">Cálculo 2</option>
                <option value="Algebra">Álgebra Lineal</option>
                <option value="Algoritmos">Algorítmos y Estructura de Datos</option>
                <option value="Grafos">Teoría de Grafos</option>
            </select>
        </div>
    </form>
</body>
</html>