<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profesores.css">
    <script src="../JS/profesores.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>PROFESOR</h1>
    <h3>Elija el nombre y apellido del profesor y la asignatura que está dictando</h3>
    <form action="" method="post">
        <label for="nombre">Nombre del Profesor</label>
            <select name="nombre" id="nombre">
                <option value="Tatiana">Tatiana</option>
                <option value="Andres">Andrés</option>
                <option value="Pedro">Pedro</option>
                <option value="Edgar">Edgar</option>
                <option value="Daniel">Daniel</option>
                <option value="Norma">Norma</option>
            </select>

        <label for="apellido">Apellido del Profesor</label>
            <select name="apellido" id="apellido">
                <option value="Cabrera">Cabrera</option>
                <option value="Barrera">Barrera</option>
                <option value="Wightman">Wightman</option>
                <option value="Andrade">Andrade</option>
                <option value="Bojaca">Bojacá</option>
                <option value="Sarmiento">Sarmiento</option>
            </select>
        
        <label for="materia">Materia</label>
            <select name="materia" id="materia">
                <option value="Teoria de la Computacion">Teoría de la Computación</option>
                <option value="Capstone">Capstone Project</option>
                <option value="Software">Diseño y Arquitectura de Software</option>
                <option value="Desarrollo Web">Desarrollo Web</option>
                <option value="Calculo 2">Cálculo 2</option>
                <option value="Grafos">Teoría de Grafos</option>
            </select>

        <button type="submit" onclick="validateTeacher()">
            VALIDAR INFORMACIÓN
        </button>
    </form>
</body>
</html>