<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <link rel="stylesheet" href="../../assets/css/dashboard.css">
  <title>Taller 0 Maquetación Responsive</title>
</head>
<body>
<div class="layout-container">
  <div class="side-menu">
    <div class="d-flex flex-column">
      <div class="brand">
        <img class="logo-lg" src="../../assets/img/Hotelia horizontal blanco.svg">
        <img class="logo-sm" src="../../assets/img/hotelia%20campana.svg">
        <div class="user">
          <img class="avatar" src="../../assets/img/opinion/user1.png">
          <div class="user-info">
            <p>Angie Vargas</p>
            <small>angievargas2@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="menu">
        <a href="index.html" class="item">
          <i class="fa-solid fa-bed"></i>
          <span>Habitaciones</span>
        </a>
        <a href="index.html" class="item">
          <i class="fa-solid fa-bell-concierge"></i>
          <span>Reservas</span>
        </a>
        <a href="index.html" class="item">
          <i class="fa-solid fa-bed"></i>
          <span>Habitaciones</span>
        </a>
        <a href="index.html" class="item">
          <i class="fa-solid fa-bell-concierge"></i>
          <span>Habitaciones</span>
        </a>
      </div>
    </div>
    <a class="logout-btn" href="#">
      <i class="fa-solid fa-sign-out"></i>
        <span>Cerrar sesión</span>
    </a>
  </div>
  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>
          Bienvenido, Angie Vargas
        </h2>
      </div>
      <div class="card-body">
        slkdjalksdjlkajdkajsdkljask
      </div>
    </div>
  </div>
</div>
</body>
</html>