<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/terminos.css">
    <title>Document</title>
</head>
<body>
    <div class="recuadro">
        <h1>
            Terminos y condiciones
        </h1>
        <p>Estos son los terminos del servicio 
            que reflejan la forma de trabjar de Google
            como empresa, las leyes por las que nos regismos
            y determinados aspectos que siempre hemos creido 
            que son ciertos. Por ellos, estos terminos del servicio
            ayudan a definir la relación que tiene Google 
            contigo cuando interactuas con nuestros servicios. Por 
            ejemplo, estos terminos incluyen las siguientes secciones:
            <br><br>
            Que puedes esperar de nosotros, donde se describe 
            como proporcionamos y desarrollamos nuestros servicios.
            Lo que esperamos de ti, donde se establecen ciertas
            reglas para utilizar nuestros servicios.    
        </p>
        <button id="cerrarNodal">Aceptar</button>
    </div>
</body>
</html>