<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="contenedor">
            <img class="img1" src="../../assets/img/login/vector-login.svg" alt="">
            <img class="logoH" src="../../assets/img/Hotelia horizontal negro.svg" alt="">
            <div class="contenido">
                <img src="../../assets/img/opinion/user1.png" alt="">
                <div class="fill_in">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena">
                </div>
                <button>Ingresar</button>
                <p>¿No tienes una cuenta? <a href="Registrar.html"> Regístrate aquí.</a></p>
            </div>
        </div>
    </main>
</body>
</html>
