@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url("../img/la-ciudad-de-20-minutos-o-el-plan-de-melbourne-para-crear-la-urbe-perfecta.jpg");
    background-repeat:no-repeat ;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Marcellus', serif;
}




@media screen and (max-width: 768px){

}

@media screen and (min-width: 769px){
    body{
        display: flex;
        flex-direction: row; 
    }

    .bienvenidos{
        display: flex;
        flex-direction: column;
        height: 55rem;
        width: max-content;   
        color: var(--blanco);
        background: linear-gradient(to right, #357baa, #0C3C59);
        opacity: 0.9;
        align-items: center;
        justify-content: center;
    }

    .registroForm{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 55rem;
        width: max-content;
        background: var(--fondo);
        opacity: 0.9;
        align-items: center;
        margin: 2rem 3rem 2rem 3rem;
    }

    .registroForm h1{
        font-size: 2.5rem;
        color: var(--negro2);
        margin-bottom: 2rem;
        text-align: center;
    }

    .filaForm{
        display: flex;
        flex-direction: row; 
        margin: 1rem 1rem 1rem 1rem;
    }

    .itemForm{
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem 1rem 1rem;
    }

}




